*{
    margin: 0;
}
a{
    text-decoration: none;
    color: rgb(255, 249, 249);
}
.pagetitle{
    color: aliceblue;
}
nav{
    display: flex;
    justify-content: space-around;
    padding-bottom: 5w;
    padding-top: 5w;
    background-color: rgb(2, 26, 136);
}


.links a{
    margin-left: 5vw;

}

@media screen and (max-width: 600px) {
    nav{
        position:relative;

    } 
    .pagetitle{
        color: rgb(255, 255, 255);
        background-color: rgb(88, 178, 214);
        padding: 1w;
    }
    .links{
        display: none;
        display: none;
        position: absolute;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 2);
        background-color: rgb(255, 255, 255);
    }
    .links a{
        color: black;
        padding: 12px 16px;
        display: block;
    }
    .links a :hover{ background-color: aqua;}
    nav:hover .links{display: block;} 
    nav:hover .pagetitle{background-color:blueviolet;}
}